# ===================================================================
# 分布式文件系统FDFS配置
# ===================================================================
fdfs:
    so-timeout: 1501
    connect-timeout: 601
    thumb-image:             #缩略图生成参数
        width: 150
        height: 150
    tracker-list:            #TrackerList参数,支持多个
        - ${YOMA_Tracker0}
