<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>yoma</contextName>

    <!-- 注意，想要输出到指定文件，需要配合启动命令一起使用 nohup java -jar app.jar > /software/logs/yoma-boot.log &-->
    <!--日志文件的名称，根据系统自动追加日期和后缀-->
    <property name="LOG_FILE_NAME" value="yoma-boot"/>
    <property name="DEV_LOG_LEVEL" value="info"/>


    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%contextName-) %blue(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level)
                %boldMagenta(%logger{36}) - %gray(%msg%n)
            </pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>


    <springProfile name="dev">
        <root level="${DEV_LOG_LEVEL}">
            <appender-ref ref="console"/>
        </root>
        <!--监控sql日志输出 -->
        <logger name="jdbc.sqlonly" level="${DEV_LOG_LEVEL}" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <logger name="jdbc.resultset" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <!--  如想看到表格数据，将OFF改为 INFO  -->
        <logger name="jdbc.resultsettable" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <logger name="jdbc.connection" level="error" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <logger name="jdbc.sqltiming" level="error" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <logger name="jdbc.audit" level="error" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="org.springframework.data.mongodb.core" level="${DEV_LOG_LEVEL}">
            <appender-ref ref="console"/>
        </logger>

        <logger name="com.github.yoma" level="${DEV_LOG_LEVEL}">
            <appender-ref ref="console"/>
        </logger>
    </springProfile>

    <springProfile name="test">
        <!-- 每天生成一个日志文件 -->
        <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!--日志文件输出的文件路径和文件名，不要修改-->
                <FileNamePattern>/software/logs/test/${LOG_FILE_NAME}/${LOG_FILE_NAME}.%d{yyyy-MM-dd.HH}.log
                </FileNamePattern>
                <!--日志文件保留的最大个数-->
                <MaxHistory>24</MaxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>%black(%contextName-) %blue(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level)
                    %boldMagenta(%logger{36}) - %gray(%msg%n)
                </pattern>
            </encoder>
        </appender>
        <!-- 异步输出 -->
        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
            <discardingThreshold>0</discardingThreshold>
            <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
            <queueSize>256</queueSize>
            <!-- 添加附加的appender,最多只能添加一个 -->
            <appender-ref ref="logfile"/>
        </appender>
        <root level="info">
            <appender-ref ref="ASYNC"/>
        </root>

        <!--监控sql日志输出 -->
        <logger name="jdbc.sqlonly" level="error" additivity="true">
        </logger>

        <logger name="jdbc.resultset" level="error" additivity="true">
        </logger>

        <!--  如想看到表格数据，将OFF改为 INFO  -->
        <logger name="jdbc.resultsettable" level="off" additivity="true">
        </logger>

        <logger name="jdbc.connection" level="info" additivity="true">
        </logger>

        <logger name="jdbc.sqltiming" level="off" additivity="true">
        </logger>

        <logger name="jdbc.audit" level="off" additivity="true">
        </logger>
        <logger name="org.springframework.data.mongodb.core" level="error">
        </logger>

        <logger name="com.github.yoma" level="error">
        </logger>
    </springProfile>

    <springProfile name="prod">
        <!-- 每天生成一个日志文件 -->
        <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!--日志文件输出的文件路径和文件名，不要修改-->
                <FileNamePattern>/software/logs/prod/${LOG_FILE_NAME}/${LOG_FILE_NAME}.%d{yyyy-MM-dd.HH}.log
                </FileNamePattern>
                <!--日志文件保留的最大个数-->
                <MaxHistory>24</MaxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>%black(%contextName-) %blue(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level)
                    %boldMagenta(%logger{36}) - %gray(%msg%n)
                </pattern>
            </encoder>
        </appender>
        <!-- 异步输出 -->
        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
            <discardingThreshold>0</discardingThreshold>
            <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
            <queueSize>256</queueSize>
            <!-- 添加附加的appender,最多只能添加一个 -->
            <appender-ref ref="logfile"/>
        </appender>
        <root level="info">
            <appender-ref ref="ASYNC"/>
        </root>

        <!--监控sql日志输出 -->
        <logger name="jdbc.sqlonly" level="error" additivity="true">
        </logger>

        <logger name="jdbc.resultset" level="error" additivity="true">
        </logger>

        <!--  如想看到表格数据，将OFF改为 INFO  -->
        <logger name="jdbc.resultsettable" level="off" additivity="true">
        </logger>

        <logger name="jdbc.connection" level="info" additivity="true">
        </logger>

        <logger name="jdbc.sqltiming" level="off" additivity="true">
        </logger>

        <logger name="jdbc.audit" level="off" additivity="true">
        </logger>
        <logger name="org.springframework.data.mongodb.core" level="error">
        </logger>

        <logger name="com.github.yoma" level="error">
        </logger>
    </springProfile>


</configuration>
